@import './shared/_variables.css';
@import './shared/_reset.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@import './index/blockchain.css';
@import './index/cli.css';
@import './index/languages.css';
@import './index/showcase.css';
@import './index/stats.css';

@import './features.css';
@import './docs.css';

@import './shared/footer.css';
@import './shared/navbar.css';

@import './responsive.css';

@import './shared/utilities.css';


.title {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.title h1 {
  font-size: 70px;
}





