.stats {
  margin-top: 80px;
}

.stats-header {
  font-size: 17px;
  font-weight: 400;
  max-width: 500px;
  margin: 40px auto;
}

.stats-text {
  font-size: 22px; font-weight: bold;
}

.stats-number {
  font-size: 30px; font-weight: bold;
}
